In [10]:
# Imports libs
import pandas as pd
import great_expectations as ge

In [13]:
# Option 1 - Load Data into Great Expection Data Frame
df = ge.read_csv("Sales.csv")
df.head()

,id,product_code,product_group,stock_qty,cost,price,last_week_sales,last_month_sales
0,1,4187,PG2,498,420.76,569.91,13,58
1,2,4195,PG2,473,545.64,712.41,16,58
2,3,4204,PG2,968,640.42,854.91,22,88
3,4,4219,PG2,241,869.69,1034.55,14,45
4,5,4718,PG2,1401,12.54,26.59,50,285

In [14]:
# Option 2 - Convert from Panda Dataframe
sales = pd.read_csv("Sales.csv")
df = ge.from_pandas(sales)
df.head()

,id,product_code,product_group,stock_qty,cost,price,last_week_sales,last_month_sales
0,1,4187,PG2,498,420.76,569.91,13,58
1,2,4195,PG2,473,545.64,712.41,16,58
2,3,4204,PG2,968,640.42,854.91,22,88
3,4,4219,PG2,241,869.69,1034.55,14,45
4,5,4718,PG2,1401,12.54,26.59,50,285

In [15]:
# ID values are unique
uniqueness = df.expect_column_values_to_be_unique(column="id")
uniqueness

{
  "meta": {},
  "success": true,
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "result": {
    "element_count": 1000,
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0,
    "partial_unexpected_list": []
  }
}

In [16]:
uniqueness["success"]

True

In [17]:
# Price Range
df.expect_column_values_to_be_between(column="price", min_value=1, max_value=10000)

{
  "meta": {},
  "success": false,
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "result": {
    "element_count": 1000,
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_count": 2,
    "unexpected_percent": 0.2,
    "unexpected_percent_total": 0.2,
    "unexpected_percent_nonmissing": 0.2,
    "partial_unexpected_list": [
      0.76,
      0.66
    ]
  }
}

In [16]:
# Category Values
df.expect_column_values_to_be_in_set(column = "product_group", 
    value_set = ["PG1","PG2","PG3","PG4", "PG5"]
)

{
  "result": {
    "element_count": 1000,
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_count": 243,
    "unexpected_percent": 24.3,
    "unexpected_percent_total": 24.3,
    "unexpected_percent_nonmissing": 24.3,
    "partial_unexpected_list": [
      "PG6",
      "PG6",
      "PG6",
      "PG6",
      "PG6",
      "PG6",
      "PG6",
      "PG6",
      "PG6",
      "PG6",
      "PG6",
      "PG6",
      "PG6",
      "PG6",
      "PG6",
      "PG6",
      "PG6",
      "PG6",
      "PG6",
      "PG6"
    ]
  },
  "meta": {},
  "success": false,
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

In [18]:
# Uniqueness across mulitple columns
df.expect_compound_columns_to_be_unique(column_list=["product_group","id"])

{
  "meta": {},
  "success": true,
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "result": {
    "element_count": 1000,
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0,
    "partial_unexpected_list": []
  }
}